@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import "colors";
@import "header";
@import "home";
@import "productCart";
@import "cart";
@import "mediaQuery";


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: $primary;
    color: $tertiary;
}

body::-webkit-scrollbar{
    display: none;
}